USE [master]
GO
/****** Object:  Database [HRDB]    Script Date: 07/01/2016 09:14:39 ******/
CREATE DATABASE [HRDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HRDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\HRDB.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HRDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\HRDB_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HRDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HRDB]
GO
/****** Object:  Schema [IIBADMIN]    Script Date: 07/01/2016 09:14:40 ******/
CREATE SCHEMA [IIBADMIN]
GO
/****** Object:  Table [IIBADMIN].[EMPLOYEE]    Script Date: 07/01/2016 09:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [IIBADMIN].[EMPLOYEE](
	[EMPNO] [char](6) NOT NULL,
	[FIRSTNME] [varchar](12) NOT NULL,
	[MIDINIT] [char](1) NULL,
	[LASTNAME] [varchar](15) NOT NULL,
	[WORKDEPT] [char](3) NULL,
	[PHONENO] [char](4) NULL,
	[HIREDATE] [date] NULL,
	[JOB] [char](8) NULL,
	[EDLEVEL] [smallint] NOT NULL,
	[SEX] [char](1) NULL,
	[BIRTHDATE] [date] NULL,
	[SALARY] [decimal](9, 2) NULL,
	[BONUS] [decimal](9, 2) NULL,
	[COMM] [decimal](9, 2) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
USE [HRDB]
INSERT into IIBADMIN.EMPLOYEE (EMPNO, FIRSTNME, MIDINIT, LASTNAME, WORKDEPT, PHONENO, HIREDATE, JOB, EDLEVEL, SEX, BIRTHDATE, SALARY, BONUS, COMM) VALUES 
('000010','CHRISTINE','I','HAAS','A00','3978','1995-01-01','PRES    ',18,'F','1963-08-24',152750.00,1000.00,4220.00 )  
INSERT into IIBADMIN.EMPLOYEE (EMPNO, FIRSTNME, MIDINIT, LASTNAME, WORKDEPT, PHONENO, HIREDATE, JOB, EDLEVEL, SEX, BIRTHDATE, SALARY, BONUS, COMM) VALUES 
('000020','MICHAEL','L','THOMPSON','B01','3476','2003-10-10','MANAGER ',18,'M','1978-02-02',94250.00,800.00,3300.00 )   
INSERT into IIBADMIN.EMPLOYEE (EMPNO, FIRSTNME, MIDINIT, LASTNAME, WORKDEPT, PHONENO, HIREDATE, JOB, EDLEVEL, SEX, BIRTHDATE, SALARY, BONUS, COMM) VALUES 
('000030','SALLY','A','KWAN','C01','4738','2005-04-05','MANAGER ',20,'F','1971-05-11',98250.00,800.00,3060.00 )  
